@using MVCOnlineTicariOtomasyon.Models.Classes
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>

    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>
                @c.Id
            </td>
            <td>
                @c.CategoryName
            </td>
            <td><a href="/Category/DeleteCategory/@c.Id" class="btn btn-danger">Delete</a></td>
            <td><a href="/Category/BringCategory/@c.Id" class="btn btn-success">Update</a></td>
        </tr>
    }
</table>
<a href="/Category/AddCategory" class="btn btn-primary">Add New Category</a>
